<table class="table table-bordered table-striped">
  <thead>
    <tr>
    <th>Name</th>
    <th>ID string</th>
    <th>Email</th>
    <th>Institution</th>
    <th>Other Affiliation</th>
    <th>Location</th>
    <%- if @browse_filter_objects and @browse_filter_objects['social_networks'] -%>
      <th>Social Networks</th>
    <%- end -%>
    <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
  <%- for person in colleagues -%>
    <tr id="person_row_<%= person.id %>" class="<%= status_class(person) %>">
      <td><%= link_to_person(person) %></td>
      <td><%= person.idstring %></td>
      <td><%= person.display_email %></td>            
      <td><%= primary_institution_name_for_person(person,'<span class="na">not specified</span>') %></td>
      <td><%= (person.affiliation.blank?) ? '<span class="na">&nbsp;</span>'.html_safe : person.affiliation %></td>
      <td><%= (person.location.nil?) ? '<span class="na">n/a</span>'.html_safe : person.location.abbreviation %></td>
      <%- if @browse_filter_objects and @browse_filter_objects['social_networks'] -%>
        <%- sn_id_list = @browse_filter_objects['social_networks'].map(&:id) -%>
        <td class='social_network_link'>
          <ul class='list-unstyled'>
          <%- person.social_networks.each do |network| -%>
            <%- if sn_id_list.include?(network.id) -%>
              <li><%= social_network_link(network) -%></li>
            <%- end -%>
          <%- end -%>
          </ul>
        </td>
      <%- end -%>
      <td><%= status_icon(person) %></td>
    </tr>
  <%- end -%>
  </tbody>
</table>
