<table class="table table-bordered table-striped">
  <thead>
    <tr>
    <th>Name</th>
    <th>ID string</th>
    <th>Email</th>
    <th>Institution</th>
    <th>Other Affiliation</th>
    <th>Location</th>
    </tr>
  </thead>

  <tbody>
  <%- for person in list_of_people -%>
    <tr id="person_row_<%= person.id %>">
      <td><%= link_to("#{person.fullname}", person_path(person)) %></td>
      <td><%= persion.idstring %></td>
      <td><%= person.email %></td>            
      <td><%= primary_institution_name_for_person(person,'<span class="na">not specified</span>') %></td>
      <td><%= (person.affiliation.blank?) ? '<span class="na">&nbsp;</span>'.html_safe : person.affiliation %></td>        
      <td><%= (person.location.nil?) ? '<span class="na">n/a</span>'.html_safe : person.location.abbreviation %></td>        
    </tr>
  <%- end -%>
  </tbody>
</table>