<div class="vcard">
  <div class="vcardHeader">
  </div>
  <p class="item">
    <span class="vcardLabel">Full Name:</span>
    <span class="fn"><%= person.fullname%></span>
  </p>
  <div class="n">
  <p class="item">
    <span class="vcardLabel">First Name:</span>
    <span class="given-name"><%= person.first_name%></span>
  </p>  
  <p class="item">
    <span class="vcardLabel">Last Name:</span>
    <span class="family-name"><%= person.last_name%></span>
  </p>
  </div>
  <p class="item">
    <span class="vcardLabel">eXtensionID:</span>
    <span class="extensionid"><%= person.idstring%></span>
  </p>
  <p class="item">
    <span class="vcardLabel">Email:</span>
    <span class="email"><%= person.email%></span>
  </p>
  <%- if !person.email_forward.blank? and person.email_forward.alias_type == EmailAlias::CUSTOM_FORWARD -%>
    <p class="item">
      <span class="vcardLabel">Email Forwards to:</span>
      <span class="email"><%= person.email_forward.destination%></span>
    </p>
  <%- end -%>
  
  <p class="item">
    <span class="vcardLabel">Preferred Phone:</span>
    <span class="tel"><%= (person.phonenumber.nil? or person.phonenumber == '') ? space_the_final_frontier  : number_to_phone(person.phonenumber, :area_code => true)%></span>
  </p>
  <p class="item">
    <span class="vcardLabel">Title:</span>
    <span class="title"><%= (person.title.nil? or person.title == '') ? space_the_final_frontier : person.title %></span>
  </p>
  <p class="item">
    <span class="vcardLabel">Position:</span>
    <span class="role"><%= (person.position.nil? or person.position == '') ? space_the_final_frontier : person.position.name %></span>
  </p>
  <div class="org">
    <p class="item">
      <span class="vcardLabel">Primary Institution:</span>
      <span class="organization-name"><%= primary_institution_name_for_person(person,space_the_final_frontier ) %></span>
    </p>
  </div>

  <div class="org">
    <p class="item">
      <span class="vcardLabel">Other/Additional Affiliation:</span>
      <span class="organization-name"><%= (person.affiliation.blank?) ? space_the_final_frontier : person.affiliation %></span>
    </p>
  </div>

  <div class="adr"> 
    <p class="item">
      <span class="vcardLabel">Location:</span>
      <span class="region"><%= (person.location.nil? or person.location == '') ? space_the_final_frontier : person.location.name %></span>
    </p>
    <p class="item">
      <span class="vcardLabel">County:</span>
      <span class="county-name"><%= (person.county.nil? or person.county == '') ? space_the_final_frontier : person.county.name %></span>
    </p>
  </div>
  <p class="item">
    <span class="vcardLabel">Time zone:</span>
    <%- if person.has_time_zone? -%>
      <span class="tz"><%= person.time_zone%></span>
    <%- else -%>
      <span class="tz">&nbsp;</span>
    <%- end -%>
  </p>
  <p class="item">
    <span class="vcardLabel">Announcements List:</span>
    <span><%= (person.announcements) ? 'Subscribed': 'Not Subscribed' %></span>
  </p>  
</div>
