<%- @page_title = "Browse colleagues" -%>

<div class="page-header">
  <h2><%= @page_title %></h2>
</div>  

<div class="row">
  <div class="span12">
    <%- if @browse_filter -%>
      <p>Filtering results by:</p>
      <p><%= filter_text(@browse_filter.settings_to_objects) %></p>
    <%- end -%>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= render(:partial => 'people/browse_filter_form') %>
  </div>
</div>


<%- if !@colleagues.blank? -%>
<div class="row">
  <div class="span12">
    <%= page_entries_info @colleagues %>
    <%= paginate(@colleagues) %>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
        <th>Name</th>
        <th>ID string</th>
        <th>Email</th>
        <th>Institution</th>
        <th>Other Affiliation</th>
        <th>Location</th>
        </tr>
      </thead>

      <tbody>
      <%- for person in @colleagues -%>
        <tr id="person_row_<%= person.id %>">
          <td><%= link_to("#{person.fullname}", person_path(person)) %></td>
          <td><%= person.idstring %></td>
          <td><%= person.email %></td>            
          <td><%= primary_institution_name_for_person(person,'<span class="na">not specified</span>') %></td>
          <td><%= (person.affiliation.blank?) ? '<span class="na">&nbsp;</span>'.html_safe : person.affiliation %></td>        
          <td><%= (person.location.nil?) ? '<span class="na">n/a</span>'.html_safe : person.location.abbreviation %></td>        
        </tr>
      <%- end -%>
      </tbody>
    </table>
  </div>
</div>
<%- end -%>
