<%- @page_title = "Browse colleagues" -%>

<div class="page-header">
  <h2><%= @page_title %></h2>
    <%= link_to("Filter Options <i class='icon-caret-right'></i>".html_safe, 
                '#',
                id: 'formtoggler', 
                data: {toggle: 'collapse', target: '#showform'}) %>

    <div id="showform" class="collapse">
      <%= render(:partial => 'people/browse_filter_form') %>
    </div>
</div>  

<div class="row">
  <div class="span12">
    <%- if @browse_filter -%>
    <div class='well'>
      <p>Filtering results by:</p>
      <p><%= filter_text(@browse_filter_objects) %></p>
    </div>
    <%- end -%>
  </div>
</div>


<%- if !@colleagues.blank? -%>
<div class="row">
  <div class="span12">
    <%= page_entries_info @colleagues %>
    <%= paginate(@colleagues) %>
    <%= render(:partial => 'list', locals: {colleagues: @colleagues}) %>
  </div>
</div>
<%- end -%>



<script type="text/javascript">

$('#showform').on('show', function () {
  $('#formtoggler').html("Filter Options <i class='icon-caret-down'></i>");
});

$('#showform').on('hide', function () {
  $('#formtoggler').html("Filter Options <i class='icon-caret-right'></i>");
});

$(".status_icon").tooltip();

</script>