<%- @page_title = "Browse colleagues" -%>

<div class="page-header">
  <h2><%= @page_title %></h2>
    <%= link_to("Filter Options <i class='icon-caret-right'></i>".html_safe, 
                '#',
                id: 'formtoggler', 
                data: {toggle: 'collapse', target: '#showform'}) %>

    <div id="showform" class="collapse">
      <%= render(:partial => 'people/browse_filter_form') %>
    </div>
</div>  

<div class="row">
  <div class="span12">
    <%- if @browse_filter -%>
    <div class='well'>
      <p>Filtering results by:</p>
      <p><%= filter_text(@browse_filter_objects) %></p>
    </div>
    <%- end -%>
  </div>
</div>


<%- if !@colleagues.blank? -%>
<div class="row">
  <div class="span12">
    <%= page_entries_info @colleagues %>
    <%= paginate(@colleagues) %>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
        <th>Name</th>
        <th>ID string</th>
        <th>Email</th>
        <th>Institution</th>
        <th>Other Affiliation</th>
        <th>Location</th>
        </tr>
      </thead>

      <tbody>
      <%- for person in @colleagues -%>
        <tr id="person_row_<%= person.id %>">
          <td><%= link_to("#{person.fullname}", person_path(person)) %></td>
          <td><%= person.idstring %></td>
          <td><%= person.email %></td>            
          <td><%= primary_institution_name_for_person(person,'<span class="na">not specified</span>') %></td>
          <td><%= (person.affiliation.blank?) ? '<span class="na">&nbsp;</span>'.html_safe : person.affiliation %></td>        
          <td><%= (person.location.nil?) ? '<span class="na">n/a</span>'.html_safe : person.location.abbreviation %></td>        
        </tr>
      <%- end -%>
      </tbody>
    </table>
  </div>
</div>
<%- end -%>



<script type="text/javascript">

$('#showform').on('show', function () {
  $('#formtoggler').html("Filter Options <i class='icon-caret-down'></i>");
});

$('#showform').on('hide', function () {
  $('#formtoggler').html("Filter Options <i class='icon-caret-right'></i>");
});

</script>