<%- @page_title = "Browse colleagues" -%>

<div class="page-header">
  <h2><%= @page_title %></h2>
  <p>
    <%= link_to("<i class='fa fa-search'></i> Filter this list".html_safe,
                '#',
                id: 'formtoggler',
                class: 'btn btn-default',
                data: {toggle: 'collapse', target: '#showform'}) %>
  </p>
  <div id="showform" class="<%= (@showform ? 'collapse in' : 'collapse') -%>">
    <%= render(:partial => 'people/browse_filter_form') %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%- if @browse_filter -%>
    <div class='alert alert-info'>
      <h4>Filtering results by:</h4>
      <p><%= filter_text(@browse_filter_objects) %></p>
    </div>
    <%- end -%>
  </div>
</div>


<%- if !@colleagues.blank? -%>
<div class="row">
  <div class="col-md-12">
    <p class='pull-right'>
      <%= link_to("<i class='fa fa-file-o'></i> Download this list (.csv)".html_safe,
                  browsefile_people_path(filter: (@browse_filter.blank? ? BrowseFilter::ALL : @browse_filter.id)),
                  :class => 'btn btn-default') %>
    </p>
    <%= page_entries_info @colleagues %>
    <%= paginate(@colleagues) %>
    <%= render(:partial => 'list', locals: {colleagues: @colleagues}) %>
  </div>
</div>
<%- end -%>



<script type="text/javascript">

$('#showform').on('show', function () {
  $('#formtoggler').html("Filter Options <i class='fa fa-caret-down'></i>");
});

$('#showform').on('hide', function () {
  $('#formtoggler').html("Filter Options <i class='fa fa-caret-right'></i>");
});

$(".status_icon").tooltip();

</script>
