<%- @page_title = (@social_network_connection.new_record? ? 'Add New Social Network' : 'Edit Social Network Connection') -%>

<div class="page-header">
  <h2><%= @page_title %></h2>
  <p><%= network_icon(@social_network_connection.social_network.name) %> <%= @social_network_connection.social_network.display_name %></p>
</div>

<div class="row">
  <div class="span8">
    <%= simple_form_for(@social_network_connection, url: edit_social_network_people_path,  :html => { :class => 'form-horizontal' }) do |f| -%>

      <%- if notification = f.error_notification -%>
        <div class="alert alert-error fade in">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <%= notification %>
        </div>
      <%- end -%>

      <%= f.hidden_field :social_network_id, value: @social_network_connection.social_network.id %>

      <fieldset>
        <%- if @social_network_connection.social_network.is_other? -%>
          <%= f.input :custom_network_name, label: 'Network Name', hint: 'The name for this social network' %>
          <%= f.input :accountid, label: 'Account Name', hint: 'Your account name or unique public identifier for this social network' %>
          <%= f.input :accounturl, label: 'Profile URL', hint: 'A unique URL for your profile (if this social network gives you a direct link for your profile).' %>
        <%- else -%>
          
          <%= f.input :accountid, label: 'Account Name', hint: 'Your account name or unique public identifier for this social network' %>
          <%= f.input :accounturl, label: 'Profile URL', hint: 'A unique URL for your profile (if this social network gives you a direct link for your profile).' %>
        <%- end -%>
      </fieldset>

      <p>
        <%- if @social_network_connection.new_record? -%>
          <%= submit_tag 'Add', :class => "btn btn-primary" %> 
          <%= link_to "Cancel", manage_social_networks_people_path, :class => "btn" %>
        <%- else -%>
          <%= submit_tag 'Update', :class => "btn btn-primary" %> 
          <%= link_to "Cancel", manage_social_networks_people_path, :class => "btn" %>
        <%- end -%>
      </p>
    <%- end -%>
  </div>
</div>