<%- @page_title = "Profile Edit - #{@person.fullname}" -%>

<div class="page-header">
  <h2><%= @page_title %> <a name="signup_top"></a></h2>
</div>

<div class="row">
  <div class="span8">

    <%= simple_form_for(@person, :html => { :class => 'form-horizontal' }) do |f| -%>

      <%- if notification = f.error_notification -%>
        <div class="alert alert-error fade in">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <%= notification %>
        </div>
      <%- end -%>
    
      <p><span class="help-block">Fields marked with an asterisk (<em class="required">*</em>) are required</span></p>

      <%- if(@invitation) -%>
        <%= hidden_field_tag('invite',@invitation.token) %>
      <%- end -%>

      <fieldset>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email, :input_html => { :class => 'span4' } %>
        <%= f.input :phone, :label => 'Phone number' %>
        <%= f.input :title %>
        <%= f.association :position, collection: Position.order('name'), :as => :radio_buttons %>
        <%= f.association :location, collection: Location.order('entrytype,name'), include_blank: true %>
        <%= f.association :county, collection: (@person.location.blank? ? [] : @person.location.counties.order("name")), include_blank: true, wrapper_html: { id: 'county_select', style: @person.location.blank? ? 'display:none;' : '' } %>
        <%= f.association :institution, 
                  collection: (@person.location.blank? ? Community.institutions.order("name") : @person.location.communities.institutions.order("name")), 
                  include_blank: true, 
                  wrapper_html: { id: 'institution_select'},
                  input_html: {class: 'span4'} %>


<%= f.input :affiliation, 
            :input_html => { :class => 'span4' }, 
            :hint =>  "Department or other affiliation at your institution or another institution if yours was not listed." %>

      </fieldset>


      <p><%= submit_tag "Update", :class => "btn btn-primary" %> <%= link_to "Cancel", person_path(@person), :class => "btn" %></p>


    <%- end # end form -%> 
  </div>

      <div class="span4">
        <%- if(@person.retired?) -%>
          <%= render(partial: 'retired_notice', locals: {person: @person, retired_account: @person.retired_account}) %>
          <div class="well">
            <p><%= link_to('Restore this account','#', :class => "btn", :remote => true, :method => :post) %></p>
          </div>
        <%- else -%>
        <div class="well">
        <%- if current_person == @person -%>
          <h4>Retired?</h4>
          <p>If you are no longer working or associated with Extension, you can retire your account.</p>
          <p><%= link_to('Retire my account','#', :class => "btn", :remote => true, :method => :post) %></p>
          <%- else -%>
          <h4>Retire this account?</h4>
          <p>If <%= @person.fullname %> is no longer working or associated with Extension, you can retire their account.</p>
          <p><%= link_to('Retire this account','#', :class => "btn", :remote => true, :method => :post) %></p>
        <%- end -%>
        </div>
        <%- end -%>
    </div>
  </div>

  <script type="text/javascript">
    $("#person_location_id").change(function() {

      $.post('<%= locations_counties_path %>', { location: $(this).val() }, function(data) {
        if(!$.isEmptyObject(data)) {
          $("#county_select").show();
          populateDropdown($("#person_county_id"), data);
        } else {
          $("#county_select").hide();
        }
      });

      $.post('<%= locations_institutions_path %>', { location: $(this).val() }, function(data) {
        if(!$.isEmptyObject(data)) {
          populateDropdown($("#person_institution_id"), data);
        } else {
          var data = <%= Community.institutions.order(:name).map{|institution| Hash[id: institution.id, name: institution.name]}.to_json.html_safe %>;
          populateDropdown($("#person_institution_id"), data);
        }
      });

    });
 
    function populateDropdown(select, data) {
        select.html('');
        select.append($('<option></option>').val('').html(''));
        $.each(data, function(id, option) {
            select.append($('<option></option>').val(option.id).html(option.name));
        });       
    }
</script>

