<%- @page_title = "Profile Edit - #{@person.fullname}" -%>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
<div class="page-header">
  <h2><%= @page_title %></h2>
  <%- if @person == current_person -%>
    <p><%= link_to("Edit your social networks".html_safe,change_social_networks_people_path) %>
      <span class="fa-stack fa-gray">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
      <span class="fa-stack fa-gray">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
      <span class="fa-stack fa-gray">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
      </p>
  <%- end -%>
</div>
</div>
</div>
<div class="row">
  <%= form_for @person, :html => { :class => 'form-horizontal' } do |f| -%>
  <div class="col-md-7">


    <%- if @person.errors.present? -%>
      <div class="col-md-offset-4 col-md-8">
      <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>Please fix the issue below:</h4>
        <ul>
        <% @person.errors.full_messages.each do |error_message| %>
          <li><%= error_message %></li>
        <% end %>
      </ul>
      </div>
      </div>
    <%- end -%>

      <%- if(@invitation) -%>
        <%= hidden_field_tag('invite',@invitation.token) %>
      <%- end -%>

      <div class="col-md-offset-4 col-md-7">
        <p><span class="help-block">Fields marked with an asterisk (<em class="required">*</em>) are required</span></p>
      </div>

      <div class="form-group">
        <label for="first_name" class="col-md-4 control-label">* First name</label>
        <div class="col-md-6">
          <%= f.text_field :first_name, :class => "form-control", :placeholder => 'First name' %>
        </div>
      </div>

      <div class="form-group">
        <label for="last_name" class="col-md-4 control-label">* Last name</label>
        <div class="col-md-6">
          <%= f.text_field :last_name, :class => "form-control", :placeholder => 'Last name' %>
        </div>
      </div>


      <div class="form-group">
        <label for="email" class="col-md-4 control-label">* Email</label>

        <div class="col-md-6">
        <%- if(@person.google_apps_email?) -%>
          <p><%= @person.email -%></p>
          <p>(This account uses eXtension Google Apps for email, the address cannot be edited)</p>
        <%- elsif(current_person != @person and !current_person.is_admin? ) -%>
          <p><%= @person.email -%></p>
          <p>(Only the account holder or an application admin can edit email addresses)</p>
        <%- else -%>
          <%= f.text_field :email, :class => "form-control", :placeholder => 'Email' %>
        <%- end -%>
        </div>
      </div>

      <%- if(current_person == @person or current_person.is_admin? ) -%>
        <%- if(@person.google_apps_email? and !@person.is_systems_account?) -%>
          <div class="form-group">
            <label for="backup_email" class="col-md-4 control-label">* Backup Email</label>
            <div class="col-md-6">
              <%= f.text_field :backup_email, :class => "form-control", :placeholder => 'Backup Email' %>
              <span class="help-block">Because you use eXtension Google Apps email, you need to provide a personal backup email address for password resets</span>
            </div>
          </div>
        <%- end -%>
      <%- end -%>


      <div class="form-group">
        <label for="phone" class="col-md-4 control-label">Phone number</label>
        <div class="col-md-4">
          <%= f.text_field :phone, :class => "form-control", :placeholder => 'Phone number' %>
        </div>
      </div>

      <div class="form-group">
        <label for="title" class="col-md-4 control-label">Title</label>
        <div class="col-md-6">
          <%= f.text_field :title, :class => "form-control", :placeholder => 'Title' %>
        </div>
      </div>

      <div class="form-group">
        <label for="biography" class="col-md-4 control-label">Biography</label>
        <div class="col-md-8">
          <%= f.text_area :biography, :class => "form-control", :rows => "7" %>
          <span class="help-block">You can use html markup to include links to additional information.</span>
        </div>
      </div>

      <div class="form-group">
        <label for="time_zone" class="col-md-4 control-label">Time zone</label>
        <div class="col-md-8">
          <%= time_zone_select(:person, :time_zone, ActiveSupport::TimeZone.us_zones, {}, {:class => "form-control"}) %>
        </div>
      </div>


      <div class="form-group">
        <label for="position" class="col-md-4 control-label">Position</label>
        <div class="col-md-8">
          <% Position.find(:all, :order => 'name').each do |p| %>
            <div class="radio">
              <label>
                <%= f.radio_button :position_id, p.id, :checked => (p.id == @person.position_id ?  true : false) %> <%= p.name %>
              </label>
            </div>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <label for="location" class="col-md-4 control-label">Location</label>
        <div class="col-md-8">
          <%= f.select(:location_id, options_for_select(get_location_options, @person.location.present? ? @person.location.id : nil), {:include_blank => true}, {:class => "form-control"}) %>
        </div>
      </div>


      <div id="county_select" class="form-group">
        <label for="county" class="col-md-4 control-label">County</label>
        <div class="col-md-8">
          <% if @person.location.present? %>
            <%= f.select(:county_id, options_for_select(get_county_options(@person.location), @person.county.present? ? @person.county.id : nil), {:include_blank => true}, {:class => "form-control"}) %>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <label for="institution" class="col-md-4 control-label">Institution</label>
        <div class="col-md-8">
          <%= f.select(:institution_id, options_from_collection_for_select(institution_collection_for_edit(@person), :id, :name, @person.institution_id), {:include_blank => true}, {:class => "form-control"}) %>
        </div>
      </div>

      <div class="form-group">
        <label for="affiliation" class="col-md-4 control-label">Affiliation</label>
        <div class="col-md-6">
          <%= f.text_field :affiliation, :class => "form-control", :placeholder => 'Department or affiliation' %>
          <span class="help-block">Department or other affiliation at your institution or another institution if yours was not listed.</span>
        </div>
      </div>

      <div class="form-group">
        <label for="interest_tags" class="col-md-4 control-label">Interests</label>
        <div class="col-md-8">
          <%= f.text_area :interest_tags, :id => "person_interest_tags", :class => "form-control", :rows => "3" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
          <p><%= f.submit "Update", :class => "btn btn-default btn-primary" %> <%= link_to "Cancel", person_path(@person), :class => "btn btn-link" %></p>
        </div>
      </div>


  </div>

  <%- end # form-%>

  <!-- end of row -->
  </div>

  <script type="text/javascript">

     $(function () {
        $('#person_interest_tags').select2({
          minimumInputLength: 1,
          tags: true,
          tokenSeparators: [","],
          multiple: true,
          createSearchChoice: function(term, data) {
            if ($(data).filter(function() {
              return this.text.localeCompare(term) === 0;
            }).length === 0) {
              return {
                id: term,
                text: term
              };
            }
          },
          ajax: {
            url: "<%= selectdata_interests_path -%>",
            dataType: 'json',
            data: function(term,page) {
              return {
                q: term
              };
            },
            results: function (data, page) {
              return { results: data };
            }
          }
       });

      <%- if (!@person_interests.blank?) -%>
        $('#person_interest_tags').select2('data', <%= @person_interests.map{|i|  {id: i.id, text: i.name}}.to_json.html_safe %>);
      <%- end -%>

     });

    $("#person_location_id").change(function() {

      $.post('<%= locations_counties_path %>', { location: $(this).val() }, function(data) {
        if(!$.isEmptyObject(data)) {
          $("#county_select").show();
          populateDropdown($("#person_county_id"), data);
        } else {
          $("#county_select").hide();
        }
      });

      $.post('<%= locations_institutions_path %>', { location: $(this).val() }, function(data) {
        if(!$.isEmptyObject(data)) {
          populateDropdown($("#person_institution_id"), data);
        } else {
          var data = <%= Community.institutions.order(:name).map{|institution| Hash[id: institution.id, name: institution.name]}.to_json.html_safe %>;
          populateDropdown($("#person_institution_id"), data);
        }
      });

    });

    function populateDropdown(select, data) {
        select.html('');
        select.append($('<option></option>').val('').html(''));
        $.each(data, function(id, option) {
            select.append($('<option></option>').val(option.id).html(option.name));
        });
    }

</script>
