<%- @page_title = "Profile Edit - #{@person.fullname}" -%>

<div class="page-header">
  <h2><%= @page_title %></h2>
</div>

<div class="row">
  <div class="span8">

    <%= simple_form_for(@person, :html => { :class => 'form-horizontal' }) do |f| -%>

      <%- if notification = f.error_notification -%>
        <div class="alert alert-error fade in">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <%= notification %>
        </div>
      <%- end -%>
    
      <p><span class="help-block">Fields marked with an asterisk (<em class="required">*</em>) are required</span></p>

      <%- if(@invitation) -%>
        <%= hidden_field_tag('invite',@invitation.token) %>
      <%- end -%>

      <fieldset>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%- if(current_person == @person or current_person.is_admin? ) -%>
          <%= f.input :email, :input_html => { :class => 'span4' } %>
        <%- end -%>
        <%= f.input :phone, :label => 'Phone number', input_html: { value: number_to_phone(@person.phone, :area_code => true)} %>
        <%= f.input :title %>
        <%= f.input :biography, :input_html => { :rows => 7, :class => 'span6' }, :hint =>  "You can use html markup to include links to additional information." %>

        <%= f.input :time_zone, priority: /US/, :input_html => { :class => 'span4' } %>
        <%= f.association :position, collection: Position.order('name'), :as => :radio_buttons %>
        <%= f.association :location, collection: Location.order('entrytype,name'), include_blank: true %>
        <%= f.association :county, 
                          collection: (@person.location.blank? ? [] : @person.location.counties.order("name")), 
                          include_blank: true, 
                          wrapper_html: { id: 'county_select', style: @person.location.blank? ? 'display:none;' : '' } %>
        <%= f.association :institution, 
                          collection: institution_collection_for_edit(@person), 
                          include_blank: true, 
                          wrapper_html: { id: 'institution_select'},
                          input_html: {class: 'span4'} %>
        <%= f.input :affiliation, 
                    :input_html => { :class => 'span4' }, 
                    :hint =>  "Department or other affiliation at your institution or another institution if yours was not listed." %>
        <%= f.input :interest_tags, :input_html => { :rows => 3, :class => 'span6' }, as: :text, :label => 'Interests' %>

      </fieldset>


      <p><%= submit_tag "Update", :class => "btn btn-primary" %> <%= link_to "Cancel", person_path(@person), :class => "btn" %></p>


    <%- end # end form -%> 
  </div>

      <%- if !Person::RESTRICTED_ACCOUNTS.include?(@person.id) -%>
      <div class="span4">
        <%- if(@person.retired?) -%>
          <%= render(partial: 'retired_notice', locals: {person: @person, retired_account: @person.retired_account}) %>
          <div class="well">
            <p><%= link_to('Restore this account',restore_person_path(@person), :class => "btn", :method => :post) %></p>
          </div>
        <%- else -%>
        <div class="well">
        <%- if current_person == @person -%>
          <h4>Retired?</h4>
          <p>If you are no longer working or associated with Extension, you can retire your account.</p>
          <p><%= link_to('Retire my account',retire_person_path(@person), :class => "btn") %></p>
          <%- else -%>
          <h4>Retire this account?</h4>
          <p>If <%= @person.fullname %> is no longer working or associated with Extension, you can retire their account.</p>
          <p><%= link_to('Retire this account',retire_person_path(@person), :class => "btn") %></p>
        <%- end -%>
        </div>
        <%- end -%>
      </div>
      <%- end -%>
  </div>

  <script type="text/javascript">

     $(function () {
        $('#person_interest_tags').select2({
          minimumInputLength: 1,
          tags: true,
          tokenSeparators: [","],
          multiple: true,
          createSearchChoice: function(term, data) {
            if ($(data).filter(function() {
              return this.text.localeCompare(term) === 0;
            }).length === 0) {
              return {
                id: term,
                text: term
              };
            }
          },         
          ajax: {
            url: "<%= selectdata_interests_path -%>",
            dataType: 'json',
            data: function(term,page) {
              return {
                q: term
              };
            },
            results: function (data, page) {
              return { results: data };
            }
          }
       });

      <%- if (!@person_interests.blank?) -%>
        $('#person_interest_tags').select2('data', <%= @person_interests.map{|i|  {id: i.id, text: i.name}}.to_json.html_safe %>);
      <%- end -%>

     });

    $("#person_location_id").change(function() {

      $.post('<%= locations_counties_path %>', { location: $(this).val() }, function(data) {
        if(!$.isEmptyObject(data)) {
          $("#county_select").show();
          populateDropdown($("#person_county_id"), data);
        } else {
          $("#county_select").hide();
        }
      });

      $.post('<%= locations_institutions_path %>', { location: $(this).val() }, function(data) {
        if(!$.isEmptyObject(data)) {
          populateDropdown($("#person_institution_id"), data);
        } else {
          var data = <%= Community.institutions.order(:name).map{|institution| Hash[id: institution.id, name: institution.name]}.to_json.html_safe %>;
          populateDropdown($("#person_institution_id"), data);
        }
      });

    });
 
    function populateDropdown(select, data) {
        select.html('');
        select.append($('<option></option>').val('').html(''));
        $.each(data, function(id, option) {
            select.append($('<option></option>').val(option.id).html(option.name));
        });       
    }
</script>

