<%- @page_title = "Find Colleagues" -%>

<div class="page-header">
  <h2><%= @page_title %></h2>
</div>

<div class="row">
  <div class="span12">
    <%= render(:partial => 'people/find_form') %>
  </div>
</div>

<%- if !@colleagues.blank? -%>
<div class="row">
  <div class="span12">
    <%= page_entries_info @colleagues %>
    <%= paginate(@colleagues) %>
    <%= render(:partial => 'list', locals: {colleagues: @colleagues}) %>
  </div>
</div>
<%- end -%>


<script type="text/javascript">
  $(".status_icon").tooltip();
</script>

