<%- @page_title = "eXtension People" -%>

<div class="page-header">
  <h2><%= @page_title %></h2>
</div>

<div class="row">
  <div class="span12">
    <h3>Find people</h3>
    <%= render(:partial => 'people/find_form') %>
  </div>
</div>


<div class="row">
  <div class="span12">
    <h3>Browse directory</h3>
    <p>You can <%= link_to("browse the directory", browse_people_path())%> of <span class='mednumber'><%= number_with_delimiter(Person.display_accounts.count) %></span> accounts and filter the list by communities, locations, positions, and social networks</p>
  </div>
</div>


<div class="row">
  <div class="span8">
    <% if(Person.pendingreview.count >= 1) %>
    <h3>Colleague waiting on review?</h3>
    <p><%= link_to("Browse the list of colleagues pending review.", pendingreview_people_path())%> If you know that a colleague has signed up for an eXtensionID and is waiting for review, you can vouch for them.</p>
    <% end %>

    <h3>Colleague not found?</h3>

    <p><%= link_to("Invite your colleague to get an eXtensionID", invite_people_path)%>. You just need to know your colleague's email address.  You can also <%= link_to("browse existing invitations", invitations_people_path)%>.</p>
  </div>
</div>

