<%- @page_title = "eXtension People" -%>

<div class="page-header">
  <h2><%= @page_title %></h2>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Find people</h3>
    <%= render(:partial => 'people/find_form') %>
  </div>
  <div class="col-md-4 col-md-offset-2">
    <div class="colleague-invite-rich">
      <p class="invite-avatar show-profile">
        <img class="avatar size300x300" height="50"  width="50" src="/assets/person.png" >
      </p>
      <h3>Invite a colleague to get an eXtension account</h3>
      <p><%= link_to('Send Invitation'.html_safe, invite_people_path, :class => "btn btn-default btn-info btn-xs" )%></p>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h3>Browse directory</h3>
    <p>You can <%= link_to("browse the directory", browse_people_path())%> of <span class='mednumber'><%= number_with_delimiter(Person.display_accounts.count) %></span> accounts and
    <%= link_to("filter the list by communities, locations, positions, and social networks", browse_people_path(showform: true))%></p>
  </div>
</div>


<div class="row">
  <div class="col-md-8">
    <h3>Colleague not found?</h3>
    <p><%= link_to("Invite your colleague to get an eXtensionID", invite_people_path)%>. You just need to know your colleague's email address.  You can also <%= link_to("browse existing invitations", invitations_people_path)%>.</p>
  </div>
  <div class="col-md-4">

  </div>
</div>
