<%- @page_title = "Manage your social networks" -%>

<div class="page-header">
  <h3>Your current networks</h3>
</div>

<div class="row">
  <div class="span8">
    <table class='table'>
      <tbody>
        <%- current_person.social_networks.each do |network| -%>
        <tr>
          <td>
            <%= network_icon(network.name) %>
            <%- if network.is_other? -%>
              <%= network.custom_network_name %>
            <%- else -%>
              <%= network.display_name %>
            <%- end -%>
          <td>
          <td>
            <%- if(!network.accounturl.blank?) -%>
              <%= link_to(network.accountid,network.accounturl ) %>
            <%- else -%>
              <%= network.accountid %>           
            <%- end -%>
          </td>
          <td>
            <%= link_to('<i class="icon-edit icon-large"></i> Edit'.html_safe,edit_social_network_people_path(network_connection: network.connection_id),class: 'btn') %>
          </td>
        </tr>
        <%- end -%>
      </tbody>
    </table>
  </div>
</div>

<div class="page-header">
  <h3>Add a new network</h3>
</div>

<div class="row">
  <%- @socialnetworks.in_groups(3,false) do |group| -%>   
    <div class="span4">
      <ul class="unstyled">
      <%- group.each do |network| -%>
        <li>
          <%= network_icon(network.name) %>
          <%= network.display_name %>
          <%= link_to('add',edit_social_network_people_path(network: network.id)) %>
        </li>
      <%- end -%>
      </ul>
    </div>
  <%- end -%>
</div>

           

