<% @page_title = "Password Change for #{current_person.fullname}" %>

<div class="page-header">
  <h2><%= @page_title %></h2>
</div>

<div class="row">
  <div class="col-md-4">

    <%= simple_form_for(@person, url: password_person_path, :method => 'post', :html => { :class => 'form-horizontal' }) do |f| -%>

      <%- if notification = f.error_notification -%>
        <div class="alert alert-error fade in">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <%= notification %>
        </div>
      <%- end -%>
    
      <fieldset>
        <%= f.input :current_password, :label => 'Current password', :input_html => {:class => 'span4' } %>
        <%= f.input :password, :hint =>  "Minimum 8 characters.", :label => 'New password', :input_html => {:class => 'span4' } %>
      </fieldset>

      <p>
        <%= button_tag('Change',{class: 'btn btn-default btn-primary'}) %>
        <%= link_to('Cancel', person_path(current_person), class: 'btn') %>
      </p>
    <%- end -%>
  </div> 
</div>

