<%- @page_title = "Colleagues pending review" -%>

<div class="page-header">
  <h2><%= @page_title %></h2>
</div>

<div class="row">
  <div class="span12">
  <%- if !@colleagues.blank? -%>

      <%= page_entries_info @colleagues %>
      <%= paginate(@colleagues) %>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
          <th>Name</th>
          <th>ID string</th>
          <th>Email</th>
          <th>Other Affiliation</th>
          <th>Location</th>
          <th>Extension Involvment</th>
          </tr>
        </thead>

        <tbody>
        <%- for person in @colleagues -%>
          <tr id="person_row_<%= person.id %>">
            <td><%= link_to("#{person.fullname}", person_path(person)) %></td>
            <td><%= person.idstring %></td>
            <td><%= person.email %></td>            
            <td><%= (person.affiliation.blank?) ? '<span class="na">&nbsp;</span>'.html_safe : person.affiliation %></td>        
            <td><%= (person.location.nil?) ? '<span class="na">n/a</span>'.html_safe : person.location.abbreviation %></td>
            <td><%= person.involvement %></td>                    
          </tr>
        <%- end -%>
        </tbody>
      </table>
  <%- else -%>
  <p>No colleagues are pending review at this time.</p>
  <%- end -%>
  </div>
</div>