<%- @page_title = "Public profile settings for #{@person.fullname}" -%>



<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="page-header">
      <h2><%= @page_title %></h2>
    </div>

    <p class="larger"><%= link_to("Your profile", person_path(current_person)) %> is viewable by anyone with an eXtension account. If you would like to make your information more accessible, you may enable the settings below and create a <strong>Public Profile</strong> that is viewable by anyone.</p>
    <p><%= link_to("View your Public Profile", public_profile_path(extensionid: current_person.idstring), :class => "btn btn-default btn-success btn-lg") %></p>

  </div>
</div>



<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h3>Profile Information</h3>
    <table class="table">
      <tbody>
        <%- @publicsettings.each do |setting| -%>
          <tr id="public_setting_row_<%= setting.id %>">
            <%= render(partial: 'public_setting_row', locals: {setting: setting}) -%>
          </tr>
        <%- end -%>

      </tbody>
    </table>

  </div>
</div>


<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="page-section">
    <h3>Social Networks</h3>
    <%- if current_person.social_networks.count > 0 -%>
    <table class="table">
      <tbody>
        <%- current_person.social_networks.each do |social_network| -%>
          <tr id="social_network_publicity_row_<%= social_network.connection_id %>">
            <%= render(partial: 'social_network_publicity_row', locals: {social_network: social_network}) -%>
          </tr>
        <%- end -%>
      </tbody>
    </table>
    <%- else -%>
    <p class="larger">You haven't yet listed your social network connections.</p>
    <%- if @person == current_person -%>
      <p><%= link_to('Update your social media profiles',change_social_networks_people_path, :class => "btn btn-default btn-lg") %></p>
    <%- end -%>
    <%- end -%>
    </div>
  </div>
</div>
