<%- @page_title = "Retire Account for #{@person.fullname}" -%>

<div class="page-header">
  <h2><%= @page_title %></h2>
</div>

<div class="row">
  <div class="col-md-8">
<%- if current_person == @person -%>
  <h4>Retired?</h4>
  <p>We're sorry to see you go, but congratulations on your new opportunities!</p>
  <%= form_tag(retire_person_path(@person), class: 'form-inline') do -%>
    <fieldset>
      <p><span class="help-block">Let us know why you are retiring your account.</span>
      <%= text_field_tag("explanation","", class: 'span4' )%></p>       
    <p><%= submit_tag "Retire my account", :class => "btn btn-default btn-primary" %> <%= link_to "Cancel", person_path(@person), :class => "btn" %></p>
    </fieldset>

  <%- end -%>

  <%- else -%>
  <h4>Retire this account?</h4>
  <p>If <%= @person.fullname %> is no longer working or associated with Extension, you can retire their account.</p>
  <p><%= @person.fullname %> was last active in People on <%= display_time(@person.last_activity_at) %></p>

  <%= form_tag(retire_person_path(@person)) do -%>
    <fieldset>
      <p><span class="help-block">Please tell us why you are retiring the account for <%= @person.first_name%></span>
      <%= text_field_tag("explanation","", class: 'span4' )%></p>
    <p><%= submit_tag "Retire this account", :class => "btn btn-default btn-primary" %> <%= link_to "Cancel", person_path(@person), :class => "btn" %></p>
    </fieldset>

  <%- end -%>  
<%- end -%>
  </div>
</div>

