<% @page_title = "Profile for #{@person.fullname}" %>

<%- if !@person.validaccount? -%>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Closed profile.</h2>
  </div>
</div>
<%- elsif @person.public_attributes[:profile_attributes].blank? -%>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class='page-header'>
    <h2>This is a private profile</h2>
    <p>If you have an eXtension account, you can sign in <%= link_to("People", person_path(@person)) %> view this person.</p>

    <% if current_person %>
      <p><%= link_to("View this profile", person_path(@person), :class => "btn btn-default") %> (You can see this button because you are signed in)</p>
    <% end %>
  </div>
  </div>
</div>
<%- else -%>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="page-header clearfix">
      <%- if @person.public_attributes[:profile_attributes]['avatar'] -%>
      <p class="person-profile-avatar show-profile"><%= person_avatar(@person, {image_size: :large}) %></p>
      <%- end -%>
      <h2><%= @person.fullname %></h2>

        <%- if @person.public_attributes[:profile_attributes]['title'] -%>
          <h4><%= @person.title %></h4>
        <%- end -%>
        <%- if @person.public_attributes[:profile_attributes]['institution'] -%>
          <h4><%= institution_text(@person) %></h4>
        <%- end -%>

      <%- if(@person.public_attributes[:profile_attributes]['biography'] and !@person.biography.blank?) -%>
      <div class='biography'>
        <%= @person.biography.html_safe %>
      </div>
      <%- end -%>
    </div>


    <dl class='dl-horizontal dashmodule'>
      <%- if(@person.public_attributes[:profile_attributes]['email']) -%>
        <dt>Email:</dt>
        <dd><%= @person.email%></dd>
      <%- end -%>
      <%- if(@person.public_attributes[:profile_attributes]['phone']) -%>
      <dt>Preferred Phone:</dt>
      <dd><%= (@person.phone.blank?) ? 'n/a' : number_to_phone(@person.phone, :area_code => true)  %></dd>
      <%- end -%>
      <%- if(@person.public_attributes[:profile_attributes]['position']) -%>
      <dt>Position:</dt>
      <dd><%= (@person.position.blank?) ? 'n/a' : @person.position.name %></span>
      <%- end -%>
      <%- if(@person.public_attributes[:profile_attributes]['location']) -%>
      <dt>Location:</dt>
      <dd><%= (@person.location.blank?) ? 'n/a' : @person.location.name %></span>
      <%- end -%>
      <%- if(@person.public_attributes[:profile_attributes]['county']) -%>
      <dt>County:</dt>
      <dd><%= (@person.county.blank?) ? 'n/a' : @person.county.name %></span>
      <%- end -%>
      <%- if(@person.public_attributes[:profile_attributes]['time_zone']) -%>
      <dt>Time zone:</dt>
      <dd><%= @person.time_zone %></span>
      <%- end -%>
      <%- if(@person.public_attributes[:profile_attributes]['interests']) -%>
      <dt>Interests:</dt>
      <dd>
        <ul class="list-inline interests">
          <%- @person.interests.order('name').each do |i| -%>
            <li><%= i.name -%></li>
          <%- end -%>
        </ul>
      </dd>
      <%- end -%>
    </dl>

    <%- if @person.social_networks.where('is_public = ?',true).count > 0 -%>
    <div class='dashmodule'>
      <h4>Social Network Connections</h4>
      <ul class="list-unstyled">
        <%- @person.social_networks.where('is_public = ?',true).each do |network| -%>
          <li><%= social_network_link(network) %></li>
        <%- end -%>
      </ul>
    </div>
    <%- end -%>
  </div>
</div>
<%- end -%>
