<% @page_title = "Profile for #{@person.fullname}" %>


<%- if @person.pendingreview? -%>
<div class='row'>
  <div class='span12'>
    <div class='well'>
      <%= render(partial: 'review_form', locals: {person: @person}) -%>
    </div>
  </div>
</div>
<%- elsif(@person.retired?) -%>
<div class="row">
  <div class="span12">
    <%= render(partial: 'retired_notice', locals: {person: @person, retired_account: @person.retired_account}) %>
  </div>
</div>
<%- end -%>

<div class="row">
  <div class="span7">
    <div class="row">
      <div class="span12">
      <%= render(:partial => 'profile_information', locals: {person: @person}) %>
      </div>

    </div>
  </div>
  <div class="span5">
    <div>
      <ul class="nav nav-pills">
        <li><%= link_to('Edit settings',edit_person_path(@person)) %></li>
        <%- if current_person == @person -%>
          <li><%= link_to('Change password',password_person_path(@person)) %></li>
          <li><%= link_to('Public profile settings',public_settings_person_path(@person)) %></li>
        <%- end -%>
      </ul>
    </div>
    <div class="well">
      <h4>Communities</h4>
      <%- if(@person.communities.count > 0) %>
      <ul class="unstyled">
        <%- @person.communities.each do |community| -%>
          <li><%= link_to(community.name, community) %> <small><%= community_connection_for_person(community, @person)%></small></li>
        <%- end -%>
      </ul>
      <%- else -%>
      <p>No community connections.</p>
      <%- end -%>
    </div>
    <div class="well">
      <h4>
        Social Network Connections 
        <%- if @person == current_person -%>            
          <small><%= link_to('change',change_social_networks_people_path) %></small>
        <%- end -%>
      </h4>
      <%- if(@person.social_networks.count > 0) %>
      <ul class="unstyled">
        <%- @person.social_networks.each do |network| -%>
          <li><%= social_network_link(network) %></li>
        <%- end -%>
      <%- else -%>
      <p>No social networking connections listed.</p>
      <%- end -%>
    </div>
  </div>
    
</div>