<% @page_title = "Profile for #{@person.fullname}" %>

<div class="row">
  <div class="span7">
    <div class="row">
      <p>#TODO Avatar <%= @person.fullname %></p>
    </div>
    <div class="row">
      <p>#TODO bio</p>
    </div>
    <div class="row">
      <%= render(:partial => 'profile_information', locals: {person: @person}) %>
    </div>
  </div>
  <div class="span5">
    <div class="well">
      <p>#TODO edit</p>
    </div>
    <div class="well">
      <h4>Communities</h4>
      <%- if(@person.communities.count > 0) %>
      <ul class="unstyled">
        <%- @person.communities.each do |community| -%>
          <li><%= link_to(community.name, community) %> <small><%= community_connection_for_person(community, @person)%></small></li>
        <%- end -%>
      <%- else -%>
      <p>No community connections.</p>
      <%- end -%>
    </div>
    <div class="well">
      <h4>Social Network Connections</h4>
      <%- if(@person.social_networks.count > 0) %>
      <ul class="unstyled">
        <%- @person.social_networks.each do |network| -%>
          <li><%= social_network_link(network) %></li>
        <%- end -%>
      <%- else -%>
      <p>No social networking connections listed.</p>
      <%- end -%>
    </div>
  </div>
    
</div>