<!DOCTYPE html>

<html style="margin: 0; padding: 0;">

<head>
  <title>Please confirm your email address</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
  <%= render(partial: 'shared_mailer/mail_styles') %>
  <%= stylesheet_link_tag("#{ssl_root_url}email/mobile.css") %>
</head>
<body>

<div id="wrapper">
  <table cellpadding="0" cellspacing="0" border="0" align="center" width="599">
    <%= render(:partial => 'shared_mailer/demo_notice') if is_demo? -%>
  <tr>
    <th align="left" class="bgcolor">
      <h1 id="people_logo"><%= mailer_logo %></h1>      
    </th>
  </tr>

  <tr class="tagline">
    <td>tagline</td>
  </tr>

  <tr class="options">
    <td><%= view_in_browser_link %></td>
  </tr>
  
  <tr>
    <td>    
      <table cellpadding="0" cellspacing="0" border="0" align="center" width="500">
      </table>
    </td>
  </tr>
</table>
</div>  
</body>
</html>
