<ul class="nav">
  <%= link_to("eXtension People",root_path,:class=>'brand')%>
</ul>

<%- if !@hide_navbar -%>

<!-- Core Navigation -->
<%- if current_person -%>
  <ul class="nav">
    <li class="divider-vertical"></li>

    <%= form_tag('#', { :class => 'navbar-search pull-left' }) do -%>
      <%= text_field_tag :q, params[:q], {:class => 'search-query span3', :placeholder => 'Find colleagues', :autocomplete => 'off'} -%>
    <%- end -%>
    <li class="divider-vertical"></li>


    <%= nav_item(communities_path,'Communities') %>
    <%= nav_item(colleagues_path,'Colleagues') %>
    <%= nav_item('#','Numbers') %>
  </ul>
<%- end -%>


<!-- right pulldown -->
<ul class="nav pull-right">
  <%- if current_person -%>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_person.fullname %><b class="caret"></b></a>

    <ul class="dropdown-menu">
       <%= nav_item(profile_index_path,'My Profile') %>
       <li class='divider'></li>
      <%= nav_item(signout_path,'Sign out') %>
    </ul>
  </li>
  <%- else -%>
    <%= nav_item(signin_path,'Sign in') %>
  <%- end -%>
</ul>
<%- end -%>
