<% @page_title = "Welcome" %>

<%= render(:partial => 'notices') %>

<div class="row">

<div class="col-md-6">
    
    
  <h3>Hi <%= current_person.first_name %>, Welcome Back!</h3>
  <p>You are joining <span class='mednumber'><%= number_with_delimiter(@active_count-1) %></span> colleagues that have been active in People within the last month.</p>

  <h3>Exploring eXtension</h3>
<ul>
    <li>Learn more about eXtension at <%= link_to('About eXtension','http://about.extension.org') %> and <%= link_to('eXtension Create','http://create.extension.org/') %>.</li>
    <li>Explore the content at <%= link_to('eXtension.org','http://www.extension.org') %> produced by our Communities of Practice.</li>
    <li>See the public courses available at <%= link_to('eXtension campus','http://campus.extension.org', {:title => "eXtension Campus"}) %>.</li>
  <li>Interact with the public and answer questions at <%= link_to('Ask an Expert', 'https://ask.extension.org', {:title => "Ask an Expert - Requires eXtensionID"}) %>.</li>
    <li>Search all of Extension through <%= link_to('Extension Search','http://www.extension.org/search') %>.</li>
    <li>Find professional development opportunities through <%= link_to('Learn','https://learn.extension.org') %>.</li>
</ul>
  </div>
  <div class="col-md-6">
    <div class='dashmodule'>
    <h3>Find Colleagues</h3>
    <%= render(:partial => 'people/find_form') %>
    <p>You can also <%= link_to("browse the directory", browse_people_path())%> of <span class='mednumber'><%= number_with_delimiter(Person.display_accounts.count) %></span> accounts and 
    <%= link_to("filter the list by communities, locations, positions, and social networks", browse_people_path(showform: true))%></p>
    </div>
    
    <div class='dashmodule'>
    <h3>Search for Communities and Institutions</h3>
    <%= render(:partial => 'communities/find_form') %>

    <p>You can also <%= link_to("browse the list", communities_path())%> of the eXtension Communities of Practice and the newest communities created by your colleagues.</p>
    </div>

  </div>
</div>