<%- @page_title = "Administrative Roles" -%>

<div class="page-header">
  <h2><%= @page_title %></h2>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>People</h3>
    <table class="table table-striped">
    <%- Person.administrators.order('last_activity_at DESC').each do |p| -%>
      <tr>
        <td><%= link_to_person(p) -%></td>
        <td><%= display_time(p.last_activity_at) -%></td>
      </tr>
    <%- end -%>
    </table>

    <%- Site.order(:label).all.each do |site| -%>
      <h3><%= site.label.capitalize %></h3>
      <table class="table table-striped">
      <%- site.administrators.order(:last_name).each do |p| -%>
        <tr><td><%= link_to_person(p) -%></td>
          <%- if last_login = (p.last_login_activity_for_site(site)) -%>
            <td><%= display_time(last_login.created_at) -%></td>
          <%- else -%>
            <td>never logged in</td>
          <%- end -%>
        </tr>
      <%- end -%>
      </table>
    <%- end -%>
  </div>
</div>
