<%- @page_title = "Google Groups" -%>

<div class="page-header">
  <h2><%= @page_title %></h2>
</div>

<div class="row">
  <div class="col-md-12">
    <p>The following google groups and their communities are implemented at google</p>
    <table class="table table-striped">
    <%- GoogleGroup.unscoped.includes(:community).order(:group_name).each do |gg| -%>
      <tr>
        <td>
          <%= gg.group_name -%>
        </td>
        <td>
          <%= link_to(gg.group_key_for_api,gg.forum_url) -%>
        </td>
        <td><%= link_to_community(gg.community) -%></td>
        <td>
          <%- if gg.community.active? -%>
            <%= image_tag('green_dot.png') -%>
          <%- else -%>
            &nbsp;
          <%- end -%>
        </td>
      </tr>
    <%- end -%>
    </table>
  </div>
</div>
