<%- @page_title = "Publish Sites" -%>

<div class="page-header">
  <h2><%= @page_title %></h2>
</div>

<div class="row">
  <div class="col-md-12">
    <%- PublishSite.where(deleted: false).order(:registered).all.each do |site| -%>
      <div class="dashmodule">
      <h3><%= site.site_url %></h3>
      <table class="table">
        <tr>
          <td>Created: </td>
          <td><%= display_time(site.registered) -%></td>
        </tr>
        <tr>
          <td>Last Updated: </td>
          <td><%= display_time(site.last_updated) -%></td>
        </tr>
        <tr>
          <td>Access Management Community</td>
          <td><%= link_to_community(site.management_community) -%></td>
        </tr>
      </table>
      <h5>Administrators and Editors</h5>
      <table class="table table-striped">
        <thead>
          <th>Person</th>
          <th>Email</th>
          <th>Role</th>
        </thead>
        <tbody>
        <%- access_list = site.access_list -%>
          <%- if access_list.blank? -%>
            <tr><td><em>none listed</em></td></tr>
          <%- else -%>
            <%- site.access_list.each do |p,role| -%>
              <tr>
                <td><%= link_to_person(p) -%></td>
                <td><%= p.email -%></td>
                <td><%= role -%></td>
              </tr>
            <%- end -%>
          <%- end -%>
        </tbody>
      </table>
      </div>
    <%- end -%>
  </div>
</div>
