<%- @page_title = "eXtension Account Use Approval" -%>

<div class='row'>
  <div class="col-md-12">
    <div class="well">
    <%= form_tag(@desicionurl) do -%>
      <fieldset>
        <h3>Account Verification</h3>
        <p>As an additional security step for using your eXtension Account to authenticate to other websites, we are asking you to "Allow" or "Deny" the request that you have initiated to sign in to the site: <%= @opierequest.trust_root -%> using your eXtension Account. We'll do this for all non-extension.org sites where you use your eXtension Account for access to the site.</p>

        <p>If you allow the request, we'll share the following information requested by: <%= @opierequest.trust_root -%>. If you deny the request, you won't be able to sign in to the site using your eXtension account.</p>

        <%- if !@willprovide.blank? -%>
        <ul>
          <%- @willprovide.each do |item| -%>
          <li><%= item %></li>
          <%- end -%>
        </ul>
        <%- end -%>

        <p><%= submit_tag "Allow", :class => "btn" %> <%= submit_tag "Deny", :class => "btn" %></p>
      </fieldset>
    <%- end -%>
    </div>
  </div>
</div>
