<div class="vcard">
  <div class="vcardHeader">
  </div>
  <p class="item">
    <span class="vcardLabel">Full Name:</span>
    <span class="fn"><%= colleague.fullname%></span>
  </p>
  <div class="n">
  <p class="item">
    <span class="vcardLabel">First Name:</span>
    <span class="given-name"><%= colleague.first_name%></span>
  </p>  
  <p class="item">
    <span class="vcardLabel">Last Name:</span>
    <span class="family-name"><%= colleague.last_name%></span>
  </p>
  </div>
  <p class="item">
    <span class="vcardLabel">eXtensionID:</span>
    <span class="extensionid"><%= colleague.idstring%></span>
  </p>
  <p class="item">
    <span class="vcardLabel">Email:</span>
    <span class="email"><%= colleague.email%></span>
  </p>
  <%- if !colleague.email_forward.blank? and colleague.email_forward.alias_type == EmailAlias::CUSTOM_FORWARD -%>
    <p class="item">
      <span class="vcardLabel">Email Forwards to:</span>
      <span class="email"><%= colleague.email_forward.destination%></span>
    </p>
  <%- end -%>
  
  <p class="item">
    <span class="vcardLabel">Preferred Phone:</span>
    <span class="tel"><%= (colleague.phonenumber.nil? or colleague.phonenumber == '') ? space_the_final_frontier  : number_to_phone(colleague.phonenumber, :area_code => true)%></span>
  </p>
  <p class="item">
    <span class="vcardLabel">Title:</span>
    <span class="title"><%= (colleague.title.nil? or colleague.title == '') ? space_the_final_frontier : colleague.title %></span>
  </p>
  <p class="item">
    <span class="vcardLabel">Position:</span>
    <span class="role"><%= (colleague.position.nil? or colleague.position == '') ? space_the_final_frontier : colleague.position.name %></span>
  </p>
  <div class="org">
    <p class="item">
      <span class="vcardLabel">Primary Institution:</span>
      <span class="organization-name"><%= primary_institution_name_for_person(colleague,space_the_final_frontier ) %></span>
    </p>
  </div>

  <div class="org">
    <p class="item">
      <span class="vcardLabel">Other/Additional Affiliation:</span>
      <span class="organization-name"><%= (colleague.affiliation.blank?) ? space_the_final_frontier : colleague.affiliation %></span>
    </p>
  </div>

  <div class="adr"> 
    <p class="item">
      <span class="vcardLabel">Location:</span>
      <span class="region"><%= (colleague.location.nil? or colleague.location == '') ? space_the_final_frontier : colleague.location.name %></span>
    </p>
    <p class="item">
      <span class="vcardLabel">County:</span>
      <span class="county-name"><%= (colleague.county.nil? or colleague.county == '') ? space_the_final_frontier : colleague.county.name %></span>
    </p>
  </div>
  <p class="item">
    <span class="vcardLabel">Time zone:</span>
    <%- if colleague.has_time_zone? -%>
      <span class="tz"><%= colleague.time_zone%></span>
    <%- else -%>
      <span class="tz">&nbsp;</span>
    <%- end -%>
  </p>
  <p class="item">
    <span class="vcardLabel">Announcements List:</span>
    <span><%= (colleague.announcements) ? 'Subscribed': 'Not Subscribed' %></span>
  </p>  
</div>
