<div class="dashmodule">

  <div class="home-member-tease">
    <h4>Leaders <%= link_to("(#{@community.leaders.count})".html_safe,connections_community_path(@community, :connection => 'leaders')).html_safe %></h4>

      <%- for person in @leaders -%>
          <div class="person-profile">
            <div class="person-profile-avatar"><%= link_to_person_avatar(person, {image_size: :large}) -%></div>
            <h4 class="person-profile-name"><%= link_to_person_profile(person) %></h4>
          </div>
        <%- end -%>

        <div class="home-member-count">
          <%- if @community.leaders.count > 5 -%>
            <%= link_to("<span><strong class='med-number'>+#{@community.leaders.count - 5}</strong> more</span>".html_safe,connections_community_path(@community, :connection => 'leaders'), class: 'theres-more').html_safe %>
          <%- end -%>
        </div>
  </div>

  <div class="home-member-tease">
    <h4>Members <%= link_to("(#{@community.members.count})".html_safe,connections_community_path(@community, :connection => 'members')).html_safe %></h4>

      <%- for person in @members -%>
          <div class="person-profile">
            <div class="person-profile-avatar"><%= link_to_person_avatar(person, {image_size: :large}) -%></div>
            <h4 class="person-profile-name"><%= link_to_person_profile(person) %></h4>
          </div>
        <%- end -%>

        <div class="home-member-count">
          <%- if @community.members.count > 5 -%>
            <%= link_to("<span><strong class='med-number'>+#{@community.members.count - 5}</strong> more</span>".html_safe,connections_community_path(@community, :connection => 'members'), class: 'theres-more').html_safe %>
          <%- end -%>
        </div>
  </div>

  <div class="home-member-tease">
  <% if @community.memberfilter == Community::MODERATED %>
    <% if @community.pending.count > 0 %>
      <h4>Pending membership requests <%= link_to("(#{@community.pending.count})".html_safe,connections_community_path(@community, :connection => 'pending')).html_safe %></h4>

      <%- for person in @pending -%>
          <div class="person-profile">
            <div class="person-profile-avatar"><%= link_to_person_avatar(person, {image_size: :large}) -%></div>
            <h4 class="person-profile-name"><%= link_to_person_profile(person) %></h4>
          </div>
        <%- end -%>

        <div class="home-member-count">
            <%= link_to("<span>View requests</span>".html_safe,connections_community_path(@community, :connection => 'pending'), class: 'theres-more').html_safe %>
        </div>
    <% end %>
  <% end %>
  </div>

  <% if @community.invited.count > 0 %>
  <div class="home-member-tease">
    <h4>Invited <%= link_to("(#{@community.invited.count})".html_safe,connections_community_path(@community, :connection => 'invited')).html_safe %></h4>

      <%- for person in @invited -%>
          <div class="person-profile">
            <div class="person-profile-avatar"><%= link_to_person_avatar(person, {image_size: :large}) -%></div>
            <h4 class="person-profile-name"><%= link_to_person_profile(person) %></h4>
          </div>
        <%- end -%>

        <div class="home-member-count">
            <%= link_to("<span class='med-number'>View<br />all</span>".html_safe,connections_community_path(@community, :connection => 'invited'), class: 'theres-more').html_safe %>
        </div>
  </div>
  <% end %>

  <br class="clearing" />
</div>
