<div class="dashmodule">
  <p><%= link_to("View member gallery", poster_community_path(@community), class: 'btn btn-default btn-sm') %></p>
<ul class="list-unstyled community_numbers">
    <li>
        <span class='mednumber'><%= @community.leaders.count %></span>
        <%= link_if_not_zero(@community.leaders.count, (@community.is_institution? ? 'Institutional Team' : 'Leaders') , connections_community_path(@community, :connection => 'leaders')) %>
    </li>
    <li>
        <span class='mednumber'><%= (@community.members.count) %></span>
        <%= link_if_not_zero(@community.members.count,'Members', connections_community_path(@community, :connection => 'members')) %>
    </li>
  <% if @community.memberfilter == Community::MODERATED %>
      <li>
          <span class='mednumber'><%= @community.pending.count %></span>
          <%= link_if_not_zero(@community.pending.count,'Pending', connections_community_path(@community, :connection => 'pending')) %>
      </li>
  <% end %>
  <li>
      <span class='mednumber'><%=  @community.invited.count %></span>
      <%= link_if_not_zero(@community.invited.count,'Invitations', connections_community_path(@community, :connection => 'invited')) %>
  </li>
</ul>
  <%- if (current_person.can_invite_others_to_community?(@community))  -%>
    <p><%= link_to('Invite others to join', invite_community_path(@community), class: 'btn') %></p>
  <%- end -%>
</div>
