<td><%= link_to("#{person.fullname}", person_path(person)) %></td>
<td><%= person.idstring %></td>
<td><%= person.email %></td>            
<td><%= primary_institution_name_for_person(person,'<span class="na">not specified</span>') %></td>
<td><%= (person.affiliation.blank?) ? '<span class="na">&nbsp;</span>'.html_safe : person.affiliation %></td>        
<td><%= (person.location.nil?) ? '<span class="na">n/a</span>'.html_safe : person.location.abbreviation %></td>        
<td><%= person.connection_with_community_expanded(community) %></td>            
<%- if current_person.can_edit_community?(community) -%>
  <td class="connectionactions" id="connectionactions_<%= person.id %>">
  <%= render(:partial => 'connection_links', :locals => { community: community, person: person }) %>
  </td>
<%- elsif current_person.can_invite_others_to_community?(community) -%>
  <td class="connectionactions" id="connectionactions_<%= person.id %>">
  <%= render(:partial => 'invite_connection_links', :locals => { community: community, person: person }) %>
  </td>
<%- end -%>