<%= form_for @community, :html => { :class => 'form-horizontal' } do |f| -%>

  <%- if @community.errors.present? -%>
    <div class="col-md-offset-4 col-md-8">
      <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>Please fix the issue below:</h4>
        <ul>
        <% @community.errors.full_messages.each do |error_message| %>
          <li><%= error_message %></li>
        <% end %>
      </ul>
      </div>
    </div>
  <%- end -%>

  <div class="form-group">
    <label for="name" class="col-md-4 control-label">* Name</label>
    <div class="col-md-8">
      <%= f.text_field :name, :class => "form-control input-lg", :placeholder => 'Name' %>
    </div>
  </div>

  <div class="form-group">
    <label for="description" class="col-md-4 control-label">Description</label>
    <div class="col-md-8">
      <%= f.text_area :description, :class => "form-control", :rows => "7" %>
    </div>
  </div>

  <div class="form-group">
    <label for="primary_contact" class="col-md-4 control-label">Primary Contact</label>
    <div class="col-md-5">
      <%= f.select(:primary_contact_id, options_for_select(@community.leaders.map{|p| [p.fullname, p.id]}, @community.primary_contact.present? ? @community.primary_contact_id : nil), {:include_blank => true}, {:class => "form-control"}) %>
    </div>
  </div>

  <div class="form-group">
    <label for="location" class="col-md-4 control-label">Location</label>
    <div class="col-md-5">
      <%= f.select(:location_id, options_for_select(get_location_options, @community.location.present? ? @community.location.id : nil), {:include_blank => true}, {:class => "form-control"}) %>
    </div>
  </div>

  <div class="form-group">
    <label for="memberfilter" class="col-md-4 control-label">Membership</label>
    <div class="col-md-5">
      <%= f.select(:memberfilter, options_for_select(Community::MEMBERFILTER_LABELS.invert, @community.memberfilter), {}, {:class => "form-control"}) %>
    </div>
  </div>

  <div class="form-group">
    <label for="connect_to_drupal" class="col-md-4 control-label">CMS integration</label>
    <div class="col-md-8">
      <div class="checkbox">
        <label>
          <%= f.check_box(:connect_to_drupal, {class: ''}) %> <strong>Connect to Create</strong>
        </label>
      </div>
      <span class="help-block">Add this community as a group to the eXtension Create (create.extension.org) CMS. eXtension Communities of Practice are automatically connected regardless of this setting.</span>
    </div>
  </div>

  <%- if current_person.is_admin? -%>
  <fieldset>
    <div class="col-md-offset-4 col-md-8">
      <legend>Administrative Options:</legend>
    </div>
    <div class="form-group">
      <label for="entrytype" class="col-md-4 control-label">Community type</label>
      <div class="col-md-5">
        <%= f.select(:entrytype, options_for_select(get_communitytypes_for_select, @community.entrytype), {}, {:class => "form-control"}) %>
      </div>
    </div>

    <div class="form-group">
      <label for="entrytype" class="col-md-4 control-label">eXtension Membership Level</label>
      <div class="col-md-5">
        <%= f.select(:membership_level, options_for_select(get_membershiplevels_for_select, @community.membership_level), {}, {:class => "form-control"}) %>
      </div>
    </div>

    <%- if !@community.is_institution? -%>
    <div class="form-group">
      <label for="connect_to_drupal" class="col-md-4 control-label">Public content</label>
      <div class="col-md-8">
        <div class="checkbox">
          <label>
            <%= f.check_box(:publishing_community, {class: ''}) %> <strong>This is a publishing community</strong>
          </label>
        </div>
        <span class="help-block">Communities can be associated with public content, and will show up on the public site administration page. eXtension Communities of Practice are automatically shown regardless of this setting.</span>
      </div>
    </div>
    <%- end -%>
  </fieldset>
<%- end -%>


  <div class="form-group">
    <div class="col-md-offset-4 col-md-8">
      <%- if @community.new_record? -%>
        <p><%= f.submit "Create", :class => "btn btn-default btn-primary" %> <%= link_to "Cancel", communities_path, :class => "btn btn-link" %></p>
      <%- else -%>
      <p><%= f.submit "Update", :class => "btn btn-default btn-primary" %> <%= link_to "Cancel", community_path(@community), :class => "btn btn-link" %></p>
      <%- end -%>
    </div>
  </div>


<%- end # end form -%>
