<%= simple_form_for(@community, :html => { :class => 'form-horizontal' }) do |f| -%>

  <%- if notification = f.error_notification -%>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <%- end -%>

  <p><span class="help-block">Fields marked with an asterisk (<em class="required">*</em>) are required</span></p>

  <fieldset>
    <%= f.input :name %>
    <%= f.input :description, :input_html => { :rows => 5, :class => 'span6' } %>
    <%= f.association :location, collection: Location.order('entrytype,name'), include_blank: true %>
    <%= f.input :memberfilter, collection: Community::MEMBERFILTER_LABELS.invert, include_blank: false %>
    <%= f.input :connect_to_drupal, :hint =>  "Communities can be added as groups within the eXtension Drupal CMS if you check this setting.  eXtension Communities of Practice are automatically connected regardless of this setting." %>
  </fieldset>

  <%- if current_person.is_admin? -%>
  <fieldset>
    <legend>Administrative Options:</legend>
    <%= f.input :entrytype, collection: get_communitytypes_for_select, include_blank: false %>
    <%- if !@community.is_institution? -%>
    <%= f.input :publishing_community, :hint =>  "Communities can be associated with public content, and will show up on the public site administration page if you check this setting.  eXtension Communities of Practice are automatically shown regardless of this setting." %>
    <%- end -%>
  </fieldset>
  <%- end -%>


  <p>
    <%- if @community.new_record? -%>
      <%= submit_tag 'Create', :class => "btn btn-primary" %> 
      <%= link_to "Cancel", communities_path, :class => "btn" %>
    <%- else -%>
      <%= submit_tag 'Update', :class => "btn btn-primary" %> 
      <%= link_to "Cancel", community_path(@community), :class => "btn" %>
    <%- end -%>
  </p>


<%- end # end form -%> 
