<% communitylist.each do |community| %>
<div class="community_short">
  <h2><%= link_to("#{community.name}", community_path(community))%></h2>
  <p class="description"><%= community.description.blank? ? 'No description' : community.description.html_safe %></p>
  <p><%= community.entrytype_to_s %></p>
  <p><%= community.memberfilter_to_s %></p>
  <p><%= community.joined.count %> Joined</p>
    
  <%= community_connection_for_person_for_list(community,current_person) %>
</div>
<% end %>
