<div class="dashmodule">
<%- case @current_person_community_connection -%>
<%- when 'none' -%>
  <p><strong>Make a connection:</strong></p>
  <%- case @community.memberfilter -%>
  <%- when Community::OPEN -%>
    <p>
      <%= join_community_link(@community) %>
    </p>
  <%- when Community::MODERATED -%>
    <p>
      <%= join_community_link(@community) %>
    </p>
    <p>
      <%- if @community.is_institution? -%>
        <small>Membership in this institution is moderated, an institutional team member will review your request</small>
      <%- else -%>
        <small>Membership in this community is moderated, a community leader will review your request</small>
      <%- end -%>
    </p>
  <%- when Community::INVITATIONONLY -%>
     <p>Contact a <%= link_to('community leader', connections_community_path(@community, :connection => 'leaders')) %> to find out more about how to make a connection with this community</p>
  <%- end -%>
<%- when 'member' -%>
  <%- if @community.is_institution? -%>
    <p><strong>You are a member of this institution.</strong></p>
  <%- else -%>
    <p><strong>You are a member of this community</strong></p>
  <%- end -%>
    <p><%= leave_community_link(@community) %></p>
<%- when 'leader' -%>
  <%- if @community.is_institution? -%>
    <p><strong>You are a member of the institutional team at this institution.</strong></p>
  <%- else -%>
    <p><strong>You are a leader of this community</strong></p>
  <%- end -%>
    <p><%= leave_community_link(@community) %></p>
<%- when 'pending' -%>
  <%- if @community.is_institution? -%>
    <p><strong>Your membership in this institution is pending review</strong></p>
  <%- else -%>
    <p><strong>Your membership in this community is pending review</strong></p>
  <%- end -%>
    <p><%= leave_community_link(@community) %></p>
<%- when 'invitedleader' -%>
  <%- if @community.is_institution? -%>
    <p><strong>You have been invited to join the institutional team</strong></p>
  <%- else -%>
    <p><strong>You have been invited to join the leadership of this community</strong></p>
  <%- end -%>
    <p><%= join_community_link(@community) %></p>
<%- when 'invitedmember' -%>
  <%- if @community.is_institution? -%>
    <p><strong>You have been invited to join this institution</strong></p>
  <%- else -%>
    <p><strong>You have been invited to join this community</strong></p>
  <%- end -%>
    <p><%= join_community_link(@community) %></p>
<%- end #case -%>
</div>
