<%- @page_title = "Connections for #{@community.name}" -%>

<div class="page-header">
  <h2><%= @page_title %></h2>
</div>

<p>#TODO Navigation</p>

<div class="row">
  <div class="span12">
    <%= page_entries_info @connections %>
    <%= paginate(@connections) %>
    <%- if @community.is_institution? %>
      <%= render(:partial => 'institution_connections_table') %>
    <%- else -%>
      <%= render(:partial => 'community_connections_table') %>
    <%- end -%>    
  </div>
</div>