<%- @page_title = "#{@community.name} - Community Information" -%>

<%- if (!@community.active?) -%>
<div class="row">
  <div class="col-md-12">
    <div class='alert  alert-warning'>
     <h4>Inactive Community</h4>
     <p>This community has been marked for removal.</p>
    </div>
  </div>
</div>
<%- end -%>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2><%= community_icon(@community) %> <%= @community.name%></h2>

    <div class="row">
      <div class="col-md-8">
        <div class="community-description">
          <%= description_for_community(@community) -%>
        </div>
      </div>
      <%- if (@community.active?) -%>
      <div id="connectiontocommunity" class="col-md-3 col-md-offset-1">
        <%= render :partial => 'make_connection' %>
      </div>
      <%- end -%>
    </div>


    <div class="row">
      <div class="col-md-7">
        <h3>People and Activity</h3>

        <div class="row">
          <div id="communitynumbers" class="col-md-6">
            <%= render(:partial => 'community_numbers') -%>
          </div>

          <div id="notifications" class="col-md-6">
            <%= render :partial => 'notifications' %>
          </div>
        </div>

        <h3>
          <%= @community.entrytype_display_label.capitalize -%> Attributes
          <%- if(current_person.can_edit_community?(@community)) -%>
            <small><%= link_to 'edit settings', edit_community_path(@community) -%></small>
          <%- end -%>
        </h3>

        <div class="dashmodule">
          <p class="lead"><%= @community.entrytype_to_s -%></p>
          <dl>
            <%- if @community.is_institution? -%>
              <dt>eXtension Membership Level</dt>
              <dd><%= @community.membership_level_label -%></dd>
            <%- end -%>
            <%- if @community.primary_contact_id.present? -%>
              <dt>Primary Contact</dt>
              <dd><%= link_to_person(@community.primary_contact) -%></dd>
            <%- end -%>
            <dt>Membership:</dt>
            <dd><%= @community.memberfilter_to_s -%></dd>
            <dt>Created by:</dt>
            <dd><%= link_to_person(@community.creator) -%></dd>
            <dt>Created:</dt>
            <dd><%= display_time(@community.created_at) -%></dd>
          </dl>
        </div>

      </div>

      <div class="col-md-5">

        <%- if (@community.connect_to_drupal? and @community.drupal_node_id) -%>
          <h3>Elsewhere in eXtension</h3>
          <div class="dashmodule">
            <p><em>Links to information for this community in other eXtension applications</em></p>
            <dl>
            <%- if (@community.connect_to_drupal? and @community.drupal_node_id) -%>
              <dt>create.extension.org</dt>
              <dd><a href="http://create.extension.org/node/<%= @community.drupal_node_id %>">Community Dashboard</a></dd>
            <%- end -%>
            </dl>
          </div>
        <%- end -%>

        <div id="communityforums">
          <h3>Google Group Forum</h3>
            <div class="dashmodule">
              <%- if(@community.connect_to_google_apps? and gg = @community.joined_google_group) -%>
              <dl>
                <dt><%= link_to('Google Group Forum',gg.forum_url) %></dt>
                <dd>Post to forum by email: <%= link_to(gg.group_email_address, "mailto:#{gg.group_email_address}") %></dd>
                  <%- if(lg = @community.leaders_google_group) -%>
                  <dt><%= link_to('Google Group Forum - Leaders',lg.forum_url) %></dt>
                  <dd>Post to leader forum by email: <%= link_to(lg.group_email_address, "mailto:#{lg.group_email_address}") %></dd>
                  <%- end -%>
              </dl>
              <%- else -%>
              <p>This community is not connected to an eXtension GSuite Google Group</p>
              <%- end -%>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
