<%- @page_title = "#{@community.name} - Community Information" -%>

    <div id="connectiontocommunity" class="dashmodule pull-right text-center">
        <%= render :partial => 'make_connection' %>
    </div>

<div class="page-header">
    <h2><%= community_icon(@community) %> <%= @community.name%> <small><%= @community.entrytype_to_s -%></small></h2>
    <p id="description">
      <%= description_for_community(@community) -%>
      <%- if(current_person.can_edit_community?(@community)) -%>
      <%- end -%>
    </p>
</div>


<div class="row">
  <div class="span6">

      <h3>People
      <%- if (current_person.can_invite_others_to_community?(@community))  -%>
        <small><%= link_to('Invite people to join this community', invite_community_path(@community), class: '') %></small>
      <%- end -%>
      </h3>
      <div id="communitynumbers" class="dashmodule">
      <%= render(:partial => 'community_numbers') -%>
      </div>

      <h3>Community Information</h3>
      <div id="communityreports" class="dashmodule">
      <p><%= link_to("Community Activity (todo)", '#') -%></p>
      <p><%= link_to("Community Membership Statistics (todo)",'#') -%></p>
      </div>

<<<<<<< HEAD
=======
      <h3>
        <%= @community.entrytype_display_label.capitalize -%> Mailing Lists
        <%- if(current_person.can_edit_community?(@community)) -%>
          <small><%= link_to 'edit (todo)', '#' -%></small>
        <%- end -%>
      </h3>

>>>>>>> dd695ecc35c90cab5394664fd9ea8b8defe2d86e
    </div>


    <div class="span6">
      <h3>
        <%= @community.entrytype_display_label.capitalize -%> Attributes
        <%- if(current_person.can_edit_community?(@community)) -%>
          <small><%= link_to 'edit settings', edit_community_path(@community) -%></small>
        <%- end -%>
      </h3>
      

      
      <div class="dashmodule">

        <dl>
          <dt>Membership:</dt>
          <dd><%= @community.memberfilter_to_s -%></dd>
          <dt>Created by:</dt>
          <dd><%= link_to_person(@community.creator) -%></dd>
          <dt>Created:</dt>
          <dd><%= display_time(@community.created_at) -%></dd>
        </dl>
      </div>

      <%- if (@community.connect_to_drupal? and @community.drupal_node_id) or @community.is_launched? -%>
      <h3>Elsewhere in eXtension</h3>
      <div class="dashmodule">
        <p><em>Links to information for this community in other eXtension applications</em></p>
        <dl>
        <%- if (@community.connect_to_drupal? and @community.drupal_node_id) -%>
          <dt>create.extension.org</dt>
          <dd><a href="http://create.extension.org/node/<%= @community.drupal_node_id %>">Community Dashboard</a></dd>
        <%- end -%>
        <%- if  @community.is_launched? -%>
          <dt>data.extension.org</dt>
          <dd><a href="http://data.extension.org/groups/<%= @community.id %>">Group Information</a></dd>
          <%- if @community.publishing_community? -%>
            <dt>www.extension.org/preview</dt>
            <dd>#TODO</dd>
          <%- end -%>
        <%- end -%>
        </dl>
      </div>
      <%- end -%>

    </div>
  </div>

