<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <meta name="robots" content="noindex" /> 
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag 'html5shiv' %>
    <![endif]-->    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= render(partial: 'shared/google_tracking') %>
    <%- if !@openidmeta.nil? -%>
      <%= @openidmeta -%>
    <%- end -%>
  </head>
  <body id='people'>

    <div class="navbar navbar-static-top">
      <%= javascript_include_tag "https://www.extension.org/javascripts/global_nav_internal.js" %>
    </div>

    <%- if current_person and current_person.is_admin? -%>
    <div id="admin_banner">
      <p><strong>You are signed in using an admin account</strong></p>
    </div>
    <%- end -%>

    <div class="container" id="main">

      <%- if (Settings.app_location == 'demo') || (Settings.app_location == 'dev') -%>
        <div id="app_location" class="demo">
          <p class='text-center'>You are viewing the People development/demonstration site. The data on this site is regularly deleted for development purposes.</p>
        </div>
      <% end %>

      <div class="row">
        <%= render(partial: 'shared/masthead') %>
      </div>

      <div class="row">
        <%= render(partial: 'shared/navtabs') %>
      </div>

      <div class="row">
        <div class='span12'>
        <div id="flash">
          <%= render(partial: 'shared/flashmessages') %>
        </div>
        </div>
      </div>

      <%- if !breadcrumbs.blank? -%>
      <div class="row">
        <div class='span12'>
          <%= render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder %>
        </div>
      </div>
      <%- end -%>

      <%= yield %>
    </div>


    <footer class="container footer">
      <ul class="inline">
          <li><%= link_to "Contact Us", help_path %></li>
          <li><%= link_to("Privacy","http://www.extension.org/main/privacy")%></li>
          <li><%= link_to("Terms of Use","http://www.extension.org/main/termsofuse")%></li>
          <li><%= link_to("Contributor Agreement",accounts_contributor_agreement_path)%></li>

      </ul>
    </footer>
  </body>
</html>
