<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag 'html5shiv' %>
    <![endif]-->    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= render(partial: 'shared/google_tracking') %>
  </head>
  <body>

    <div class="navbar navbar-static-top">
      <%= javascript_include_tag "https://www.extension.org/javascripts/global_nav_internal.js" %>
    </div>

    <div class="container" id="main">
      <div class="row">
        <%= render(partial: 'shared/masthead') %>
      </div>

      <div class="row">
        <%= render(partial: 'shared/navtabs') %>
      </div>

      <div class="row">
        <div class='span12'>
        <div id="flash">
          <%= render(partial: 'shared/flashmessages') %>
        </div>
        </div>
      </div>

      <%= yield %>
    </div>


    <footer class="container footer">
      <ul class="inline">
          <li><%= link_to "Contact Us", help_path %></li>
          <li><%= link_to("Privacy","http://www.extension.org/main/privacy")%></li>
          <li><%= link_to("Terms of Use","http://www.extension.org/main/termsofuse")%></li>
      </ul>
    </footer>
  </body>
  <!--
       Acknowledgements:
       This website includes icons from @glyphicons http://glyphicons.com, used under the Creative Commons Attribution 3.0 Unported (CC BY 3.0) license
       license details: http://creativecommons.org/licenses/by/3.0/deed.en
  -->
</html>
