<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= render(partial: 'shared/google_tracking') %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <%= javascript_include_tag "https://www.extension.org/javascripts/global_nav_internal.js" %>
    </div>

    <div class="container" id="main">
      <div id="flash">
        <%= render(partial: 'shared/flashmessages') %>
      </div>

      <div class="row">
        <%= render(partial: 'shared/masthead') %>
      </div>

      <div class="row">
        <%= render(partial: 'shared/navtabs') %>
      </div>

      <%= yield %>
    </div>
  </body>
  <!--
       Acknowledgements:
       This website includes icons from @glyphicons http://glyphicons.com, used under the Creative Commons Attribution 3.0 Unported (CC BY 3.0) license
       license details: http://creativecommons.org/licenses/by/3.0/deed.en
  -->
</html>
