<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <meta name="robots" content="noindex" />
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag 'html5shiv' %>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= render(partial: 'shared/google_tracking') %>
    <%- if !@openidmeta.nil? -%>
      <%= @openidmeta -%>
    <%- end -%>
  </head>
  <body id='public'>

      <div id="app-location" class="dev">
        <p>This is a development and demonstration site. The data on this site is regularly deleted for development purposes.</p>
      </div>

      <div id="header-shortcuts">
      <%= javascript_include_tag "https://assets.extension.org/javascripts/global_shortcuts_bar_public.js" %>
      </div>

    <div class="container" id="main">

      <div class="row" id="masthead">
        <%= render(partial: 'shared/masthead') %>
      </div>

      <%= yield %>
    </div>

    <div id="footer-shortcuts">
      <span class="footer-mobile-nav-link">
        <a href="#header-shortcuts" class="btn btn-text">back to top</a>
      </span>
      <h3 class="footer-shortcuts-header">eXtension shortcuts</h3>

      <%= javascript_include_tag "https://assets.extension.org/javascripts/global_shortcuts_bar_public.js" %>
    </div>

    <footer class="container footer">
      <ul class="list-inline">
          <li><%= link_to "Contact Us", help_path %></li>
          <li><%= link_to("Privacy","http://www.extension.org/main/privacy")%></li>
          <li><%= link_to("Terms of Use","https://extension.org/terms-of-use/")%></li>
          <li><%= link_to("Contributor Agreement",accounts_contributor_agreement_path)%></li>
      </ul>
      <p class="copyright">&copy; <%= Time.now.utc.year %> eXtension. All rights reserved.</p>
    </footer>

  </body>
</html>
