<%- @page_title = "Reset Your Password" -%>

<div class="page-header">
  <h2><%= @page_title %> </h2>
  <p>If you have forgotten your password, we'll send a link to your email address so that you can set a new password for your account</p>
</div>


<div class="row">
  <div class="span8">
  <%= form_tag(accounts_reset_password_path, class: 'form-inline') do -%>
    <fieldset>
      <p>
      <span class="help-block"><strong>What is the email address for your eXtension Account?</strong></span>
      <%= text_field_tag("email","", class: 'span4' )%> 
    </p>
      <p><%= submit_tag "Send confirmation email", :class => "btn btn-primary" %> <%= link_to "Cancel", root_path, :class => "btn" %></p>
    </fieldset>
  <%- end -%>  
  </div>
</div>
