<%- @page_title = "Reset Your Password" -%>

<div class="page-header">
  <h2><%= @page_title %> </h2>
  <p>If you have forgotten your password, we'll send a link to your email address so that you can set a new password for your account</p>
</div>


<div class="row">
  <div class="col-md-6">

    <%= form_tag(accounts_reset_password_path) do -%>

    <div class="form-group">
      <label for="email" class="control-label input-lg">What is the email address for your eXtension Account?</label>
      <%= text_field_tag :email, "", :class => "form-control input-lg", :placeholder => 'Email address' %>
    </div>

    <div class="form-group">
      <p><%= submit_tag "Send confirmation email", :class => "btn btn-default btn-primary btn-lg" %> <%= link_to "Cancel", root_path, :class => "btn btn-default" %></p>
    </div>

    <%- end -%>

  </div>
</div>
