<% @page_title = "Set New Password" %>

<div class="page-header">
  <h2><%= @page_title %></h2>
</div>

<div class="row">
  <div class="col-md-4">

    <%= simple_form_for(@person, url: accounts_set_password_path, :method => 'post', :html => { :class => 'form-horizontal' }) do |f| -%>

      <%- if notification = f.error_notification -%>
        <div class="alert alert-error fade in">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <%= notification %>
        </div>
      <%- end -%>

      <%= hidden_field_tag('token',params[:token]) %>

      <fieldset>
        <%= f.input :password, :hint =>  "Minimum 8 characters.", :label => 'New Password', :input_html => {:class => 'span4', :autocomplete => 'off' } %>
        <%= f.input :password_confirmation, :hint =>  "Minimum 8 characters.", :label => 'Confirm New Password', :input_html => {:class => 'span4', :autocomplete => 'off' } %>
      </fieldset>

      <p>
        <%= button_tag('Set Password',{class: 'btn btn-primary'}) %>
        <%= link_to('Cancel', root_path, class: 'btn') %>
      </p>
    <%- end -%>
  </div> 
</div>

