<%- @page_title = "Sign up - eXtension" -%>

<div class="page-header">
  <h2>eXension Sign Up <a name="signup_top"></a></h2>
</div>



<div class="row">
  <div class="span8">

    <%= simple_form_for(@person, url: accounts_path, class: 'form-horitzontal') do |f| -%>
    
      <p><span class="help-block">Fields marked with an asterisk (<em class="required">*</em>) are required</span></p>

      <%- if(!@invitation.nil?) -%>
        <%= hidden_field_tag('invite',@invitation.token) %>
      <%- end -%>

      <fieldset>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email, :input_html => { :class => 'span4' }, :hint =>  "Using a .edu or .gov email address if you have one will speed up account review." %>
        <%= f.input :password, :hint =>  "Minimum 8 characters." %>
        <%= f.input :phonenumber %>
        <%= f.input :title %>
        <%= f.input :time_zone, :priority => ActiveSupport::TimeZone.us_zones, :default => "Eastern Time (US & Canada)", :input_html => { :class => 'span4' }  %>
      </fieldset>

      <fieldset>
        <legend>Your Connection to Extension</legend>
        <label>Please list someone in Extension with whom you have a connection, and tell us how you would like to be involved with eXtension.<em class="required">*</em></label>
        <%= f.text_area(:signup_affiliation, rows: 3, class: 'span4') %>
      </fieldset>


      <fieldset>
        <legend>Your Location</legend>
      </fieldset>

      <fieldset>
        <legend>Your Institution/Affiliation</legend>
      </fieldset>

      <fieldset>
        <legend>Your Position</legend>
      </fieldset>

      <p><%= submit_tag "Sign up", :class => "btn btn-primary" %> <%= link_to "Cancel", root_path, :class => "btn" %></p>


    <%- end # end form -%> 
  </div>

      <div class="span4">
        <div class="well">
        <h4>Registration Help</h4>
        <p><%= link_to('I forgot my password', '#') %></p>
        <p>Already registered? <%= link_to('Sign-in', signin_path) %></p>
        </div>
    </div>
  </div>

