<%- @page_title = "Sign up - eXtension" -%>

<div class="page-header">
  <h2>eXtension Sign Up <a name="signup_top"></a></h2>
</div>



<div class="row">
  <div class="col-md-8">

    <%= simple_form_for(@person, url: accounts_create_path, :html => { :class => 'form-horizontal' }) do |f| -%>

      <%- if notification = f.error_notification -%>
        <div class="alert alert-error fade in">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <%= notification %>
        </div>
      <%- end -%>
    
      <p><span class="help-block">Fields marked with an asterisk (<em class="required">*</em>) are required</span></p>

      <%- if(@invitation) -%>
        <%= hidden_field_tag('invite',@invitation.token) %>
      <%- end -%>

      <fieldset>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email, :input_html => { :class => 'span4' }, :hint =>  "Using a .edu or .gov email address if you have one will speed up account review." %>
        <%= f.input :password, :hint =>  "Minimum 8 characters." %>

       <%= f.input :involvement, :input_html => { :rows => 3, :class => 'span4' },
        :label => 'Connection with Extension',
        :hint =>  "Please list someone in Extension with whom you have a connection, and tell us how you would like to be involved with eXtension." %>
 
        <%= f.input :phone, :label => 'Phone number' %>
        <%= f.input :title %>

        <%= f.input :time_zone, priority: /US/, :input_html => { :class => 'span4' } %>
        <%= f.association :position, collection: Position.order('name'), :as => :radio_buttons %>
        <%= f.association :location, collection: Location.order('entrytype,name'), include_blank: true %>
        <%= f.association :county, 
                          collection: (@person.location.blank? ? [] : @person.location.counties.order("name")), 
                          include_blank: true, 
                          wrapper_html: { id: 'county_select', style: @person.location.blank? ? 'display:none;' : '' } %>
        <%= f.association :institution, 
                  collection: (@person.location.blank? ? Community.institutions.order("name") : @person.location.communities.institutions.order("name")), 
                  include_blank: true, 
                  wrapper_html: { id: 'institution_select'},
                  input_html: {class: 'span4'} %>


<%= f.input :affiliation, 
            :input_html => { :class => 'span4' }, 
            :hint =>  "Department or other affiliation at your institution or another institution if yours was not listed." %>

      </fieldset>


      <p><%= submit_tag "Sign up", :class => "btn btn-primary" %> <%= link_to "Cancel", root_path, :class => "btn" %></p>


    <%- end # end form -%> 
  </div>

      <div class="col-md-4">
        <div class="well">
        <h4>Registration Help</h4>
        <p><%= link_to('I forgot my password', '#') %></p>
        <p>Already registered? <%= link_to('Sign-in', signin_path) %></p>
        </div>
    </div>
  </div>

  <script type="text/javascript">
    $("#person_location_id").change(function() {

      $.post('<%= locations_counties_path %>', { location: $(this).val() }, function(data) {
        if(!$.isEmptyObject(data)) {
          $("#county_select").show();
          populateDropdown($("#person_county_id"), data);
        } else {
          $("#county_select").hide();
        }
      });

      $.post('<%= locations_institutions_path %>', { location: $(this).val() }, function(data) {
        if(!$.isEmptyObject(data)) {
          populateDropdown($("#person_institution_id"), data);
        } else {
          var data = <%= Community.institutions.order(:name).map{|institution| Hash[id: institution.id, name: institution.name]}.to_json.html_safe %>;
          populateDropdown($("#person_institution_id"), data);
        }
      });

    });
 
    function populateDropdown(select, data) {
        select.html('');
        select.append($('<option></option>').val('').html(''));
        $.each(data, function(id, option) {
            select.append($('<option></option>').val(option.id).html(option.name));
        });       
    }
</script>

