<% @page_title = "Sign in - eXtension" %>

<div class="page-header">
  <h2><%= signin_prompt_string %></h2>
</div>

<div class="row">
  <div class="col-md-4">

    <%= form_tag(signin_path, class: '') do -%>
    <%- if is_mobile_device? -%>
    <p><%= email_field_tag('email', params[:email], {class: 'span4', placeholder: 'Email'}) %></p>
    <%- else -%>
    <p><%= text_field_tag('email', params[:email], {class: 'span4', placeholder: 'Email'}) %></p>
    <%- end -%>

    <p><%= password_field_tag('password', '', {class: 'span4', placeholder: 'Password'}) %></p>
    <p>
      <%= button_tag('Sign in',{class: 'btn btn-primary'}) %>
      <%= link_to('Forgot Password?', accounts_reset_password_path) %>
    </p>
    <%- end -%>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%- if !session[:last_opierequest] -%>
      <p>This is the eXtension Account Management site. You can use it to update your eXtension profile, find Extension colleagues, or manage your eXtensionID and password.</p>
    <%- end -%>
    <p>If you don't already have an eXtensionID, please <%= link_to("signup for your eXtensionID", signup_path) %></p>
  </div>
</div>
