<%- @page_title = "Signup - Confirm Your Email Address" -%>

<div class="page-header">
  <h2><%= @page_title %> </h2>
  <p>Welcome to eXtension! Let us know what your email address is so that we can send you an email to confirm that you're eligible for an eXtension Account.</p>
</div>


<div class="row">
  <div class="col-md-6">

    <%= form_for @signup_email, url: accounts_signup_email_path do |f| -%>

      <%- if @signup_email.errors.present? -%>
        <div class="col-md-offset-4 col-md-8">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4>Please fix the issue below:</h4>
          <ul>
          <% @signup_email.errors.full_messages.each do |error_message| %>
            <li><%= error_message %></li>
          <% end %>
        </ul>
        </div>
        </div>
      <%- end -%>

      <div class="form-group">
        <label for="email" class="input-lg control-label">What is your email address?</label>
          <%= f.text_field :email, :class => "form-control input-lg", :placeholder => 'Email' %>
          <span class="help-block">Using a .edu or .gov email address if you have one will speed up account confirmation.</span>
      </div>

      <div class="form-group">
        <p><%= submit_tag "Send confirmation email", :class => "btn btn-default btn-primary btn-lg" %> <%= link_to "Cancel", root_path, :class => "btn btn-default" %></p>
      </div>

    <%- end -%>

  </div>
</div>
